@use "../base/mixins";
@use "../base/constants" as *;

form {
  @include mixins.center;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 2em;

  label {
    font-size: 1em;
    margin-bottom: 0.5em;
    font-weight: 600;
    width: 100%;
    span {
      color: red;
    }
  }

  input,
  textarea {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #f4f4f4;
    border: none;
    outline: none;
    margin-bottom: 1.5em;
    font-family: inherit;
    font-size: 1em;
    max-width: 80vw;
    width: 100%;
    letter-spacing: 1px;
    border: 2px solid transparent;
    transition: all 0.3s;

    &:invalid {
      border: 2px solid red;
    }

    &:active,
    &:focus {
      border: 2px solid #85c9c8;
    }

    &[type="submit"] {
      color: white;

      &:hover {
        transform: scale(1.07);
      }
    }
  }
}

.select {
  z-index: 3;
  &-container {
    max-width: 80vw;
    width: 100%;
    margin-bottom: 1.5em;
  }
}
