@use "../base/mixins";
@use "../base/constants" as *;

input[type="submit"],
button.button {
  $color-primary: #ece8fc;
  $color-secondary: $purple;

  @include mixins.center;
  min-width: 150px;
  padding: 12px 30px;
  vertical-align: middle;
  border: none;
  background-color: $color-secondary;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 3px;
  width: max-content;
  position: relative;

  p {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    margin: 0;
    color: $color-primary;
    z-index: 2;
    transition: all 0.3s;
  }

  p + .icon {
    margin-left: 0.5em;
  }

  .icon {
    margin: 0;
    font-size: 1.45em;
    color: $color-primary;
    z-index: 2;
    transition: all 0.3s;
  }

  &::before {
    content: "";
    background-color: rgba(white, 0.1);
    width: 0;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    z-index: 1;
    transition: all 0.3s;
    border-radius: 100px;
  }

  &:hover {
    .icon {
      transform: translateX(20%);
    }

    &::before {
      width: 100%;
      transform: translate(0, -50%);
      border-radius: 3px;
    }
  }

  &:not(:last-child) {
    margin-right: 1.5em;
  }

  // DIFFERENT COLOR VARIATIONS

  &[data-value="1 0"] {
    $color-primary: $purple;
    $color-secondary: #ece8fc;

    background-color: $color-secondary;
    // border: 1.5px solid $color-primary;

    p {
      color: $color-primary;
    }

    .icon {
      color: $color-primary;
    }
  }

  &[data-value="0 1"] {
    $color-primary: #fee7e9;
    $color-secondary: $red;

    background-color: $color-secondary;

    p {
      color: $color-primary;
    }

    .icon {
      color: $color-primary;
    }
  }

  &[data-value="1 1"] {
    $color-primary: $red;
    $color-secondary: #fee7e9;

    background-color: $color-secondary;
    // border: 1.5px solid $color-primary;

    p {
      color: $color-primary;
    }

    .icon {
      color: $color-primary;
    }
  }

  &[data-value="0 2"] {
    $color-primary: #fff3e8;
    $color-secondary: $yellow;

    background-color: $color-secondary;

    p {
      color: $color-primary;
    }

    .icon {
      color: $color-primary;
    }
  }

  &[data-value="1 2"] {
    $color-primary: $yellow;
    $color-secondary: #fff3e8;

    background-color: $color-secondary;
    // border: 1.5px solid $color-primary;

    p {
      color: $color-primary;
    }

    .icon {
      color: $color-primary;
    }
  }

  &[data-value="0 3"] {
    $color-primary: #e3faf1;
    $color-secondary: $green;

    background-color: $color-secondary;

    p {
      color: $color-primary;
    }

    .icon {
      color: $color-primary;
    }
  }

  &[data-value="1 3"] {
    $color-primary: $green;
    $color-secondary: #e3faf1;

    background-color: $color-secondary;
    // border: 1.5px solid $color-primary;

    p {
      color: $color-primary;
    }

    .icon {
      color: $color-primary;
    }
  }

  &[data-value="0 4"] {
    $color-primary: #e7eeff;
    $color-secondary: $blue;

    background-color: $color-secondary;

    p {
      color: $color-primary;
    }

    .icon {
      color: $color-primary;
    }
  }

  &[data-value="1 4"] {
    $color-primary: $blue;
    $color-secondary: #e7eeff;

    background-color: $color-secondary;
    // border: 1.5px solid $color-primary;

    p {
      color: $color-primary;
    }

    .icon {
      color: $color-primary;
    }
  }

  &[data-value="0 5"] {
    $color-primary: #f1f0f1;
    $color-secondary: $black;

    background-color: $color-secondary;

    p {
      color: $color-primary;
    }

    .icon {
      color: $color-primary;
    }
  }

  &[data-value="1 5"] {
    $color-primary: $black;
    $color-secondary: rgba(#f1f0f1, 0.15);

    background-color: $color-secondary;
    // border: 1.5px solid $color-primary;

    p {
      color: $color-primary;
    }

    .icon {
      color: $color-primary;
    }
  }

  // DIFFERENT SIZE VARIATIONS

  &[data-size="1"] {
    min-width: 80px;
    padding: 8px 20px;

    p {
      font-size: 1.2em;
      letter-spacing: 0;
      padding: 0;
    }

    .icon {
      font-size: 1.2em;
    }
  }

  &[data-size="2"] {
    min-width: 180px;
    padding: 20px 40px;

    p {
      font-size: 1.8em;
      letter-spacing: 0;
      padding: 0;
    }

    .icon {
      font-size: 1.8em;
    }
  }
  &[data-value="2 5"] {
    $color-primary: #f1f0f1;
    $color-secondary: $black;

    min-width: 0px;
    position: absolute;

    bottom: 44px;
    right: 13px;
    z-index: 1;
    height: 30px;
    width: min-content;
    background-color: $color-secondary;

    .icon {
      color: $color-primary;
    }
  }
}

.mapbutton {
  $color-primary: #f1f0f1;
  $color-secondary: $black;

  @include mixins.center;
  position: absolute;
  bottom: 60px;
  right: 40px;
  padding: 12px 30px;
  z-index: 1;
  height: 30px;
  width: min-content;
  background-color: $color-secondary;
  vertical-align: middle;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.3s;

  .icon {
    color: $color-primary;
    height: 20px;
    width: 20px;
  }

  &:hover {
    background-color: red;
  }
}
