@use "../base/mixins";
@use "../base/constants" as *;

.page {
  margin-top: 97.6px;
  // height: calc(100vh - 97.6px);
  width: 100vw;
  padding: 2em;
  padding-top: 0;

  h1 {
    margin-left: 10px;
  }

  ul {
    list-style: none;

    li {
      &:not(:last-child) {
        border-bottom: 1px solid black;
      }
    }
  }
}

// @media screen and (max-width: 1200px) {
//   .page {
//   }
// }
