@use "./base/typography";
@use "./base/constants";
@use "./base/mixins";

@use "./components/form";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-size: 16px;
  overflow-x: hidden;
  background-color: constants.$bg-color-primary;
  scroll-behavior: smooth;

  width: 100vw;
  // height: 100vh;
  @include mixins.center;
}

::-webkit-scrollbar {
  width: 7px;
  opacity: 0;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(lightgrey, 0.8);
  border-radius: 10px;
}
