// COLORS
$bg-color-primary: #ffffff;
$bg-color-secondary: #202022;
$bg-color-tertiary: #1a1a1b;

$text-color-primary: #151515;
$text-color-secondary: #949495;

$color-highlight: #ffb703;

$black: #09050d;
$black-accent: #110f16;
$white: #ffffff;
$purple: #603fe5;
$red: #f3374e;
$blue: #3d72fd;
$turquoise: #50d3fc;
$green: #16d28e;
$yellow: #fc9b42;
$grey-dark: #181719;
$grey-medium: #383839;
$grey-accent: #3f3d45;

// FONTS

// DECORATION
$border-radius-normal: 12px;
$border-radius-more-rounded: 15px;
$border-radius-less-rounded: 8px;

$small-shadow: 5px 5px 20px rgba($black, 0.04);

// ANIMATION
$transition-duration: 0.3s;

// NUMBERS
$num-base: 10px;
