@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");

html,
#root {
  font-size: 16px;
  line-height: 22px;
  color: black;
}

body,
.article {
  font-family: "manrope", sans-serif;
  font-size: 1em;
  line-height: 1.375em;
  margin: auto;
}

span.color_white {
  color: rgba(255, 255, 255, 0.6);
}

span.text_highlight {
  color: #ffb703;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

h1,
.h1 {
  font-size: 4.25em;
  line-height: 1.29411765em;
  margin-top: 0.32352941em;
  margin-bottom: 0.25em;
  font-weight: 700;
  letter-spacing: -1px;
}

h2,
.h2 {
  font-size: 2.625em;
  line-height: 1.04761905em;
  margin-top: 0.52380952em;
  margin-bottom: 0.52380952em;
}

h3,
.h3 {
  font-weight: 400;
  font-size: 1.625em;
  line-height: 1.69230769em;
  margin-top: 0.84615385em;
  margin-bottom: 0em;
}

h4,
.h4 {
  font-size: 1em;
  line-height: 1.375em;
  margin-top: 1.375em;
  margin-bottom: 0em;
}

h5,
.h5 {
  font-size: 1em;
  line-height: 1.375em;
  margin-top: 1.375em;
  margin-bottom: 0em;
}

p,
ul,
ol,
pre,
table,
blockquote {
  margin-top: 0em;
  letter-spacing: 0.25px;
  font-weight: 500;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0em;
  margin-bottom: 0em;
}

/* Let's make sure all's aligned */
hr,
.hr {
  border: 1px solid;
  margin: -1px 0;
}

a,
b,
i,
strong,
em,
small,
code {
  line-height: 0;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}
